<h1>Tickets</h1>

<table class="table">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Created el</th>
    <th>A cargo</th>
    <th>Creado por</th>
  </tr>
  </thead>
  <tbody>
  
  <% @tickets.each do |ticket| %>
      <% if ticket.state == 0 %>
       <tr class="danger">
      <% elsif ticket.state == 1 %>
       <tr class="success">
	<% else %>
	<tr>
	<%end%>
        <td><%= ticket.name %></td>
        <td><%= ticket.description %></td>
	<td><%= ticket.created_at%></td>
	<td><%= ticket.owner%></td>
        <td><%= Operator.find(ticket.operator_id).name %></td>
        <td><%= link_to 'Ver', ticket_path(ticket) %></td>
        <%if current_operator.role == "Supervisor"%>
          <td><%= link_to 'Editar', edit_ticket_path(ticket)%></td>
        <%end%>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Crear Ticket', new_ticket_path, class:"btn btn-primary" %>
